################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SuperLiner/v16/Server/sqlite3
/SuperLiner/bin/Debug/netcoreapp2.1
/SuperLiner/obj
/.vs/SuperLiner/v16
