################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SuperLiner/v16/Server/sqlite3
/SuperLiner/bin/Debug/netcoreapp2.1
/SuperLiner/obj
/.vs/SuperLiner/v16
/SampleExtension/obj
/SampleExtension/bin/Release/netcoreapp2.1
/SuperLiner/bin/Release/netcoreapp2.1
/.vs/SuperLiner/DesignTimeBuild
/SuperLiner/SuperLiner.csproj.user
